$primary: #d7ccc8;
$primaryLight: #fffffb;
$primaryDark: #a69b97;

$secondary: #ffb74d;
$secondaryLight: #ffe97d;
$secondaryDark: #c88719;

$text: #000000;

$materialBackground: #efefef;

$error: #d63737;
$errorLight: #e23d3d;