.weather-timeplace {
    &__title {
        margin: 0;
        padding-bottom: 0.25rem;

        font-size: 3.5rem;
        letter-spacing: 0.5rem;
        color: $secondaryDark;
    }

    &__date {
        font-weight: normal;
        font-size: 1.5rem;
        
    }    
}