.weather {
    position: relative;

    margin-bottom: 2rem;

    @include atLarge() {
        margin-bottom: 6rem;
    }

    background-color: $primaryLight;
    @include mdShadow(3);

    &__wrapper {
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;

        border-bottom: 0.2rem solid $primary;
        

    }
}