.city {
    position: relative;

    background-color: $primaryLight;

    min-height: 20rem;

    @include mdShadow(3);

    &__title {
        margin: 0;
        padding: 1rem;

        font-size: 1.8rem;

        @include atSmall() {
            font-size: 2rem;
        }
        color: $secondaryDark;

        border-bottom: 0.3rem solid $primary;
    }

    &__actions {
        padding: 2rem;
        padding-top: 0;
    }

    &__link {
        text-decoration: none;
        font-size: 1.8rem;
        color: $secondaryDark;

        &:hover,
        &:focus {
            color: $secondary;
        }

    }

    p {
        padding: 2rem;
        margin: 0;
        font-size: 1.6rem;
    }
}