.form {
    display: flex;

    height: 3.5rem;
    width: 40%;

    &__label {
        @include visuallyHidden();
    }

    &__input {
        font-size: 1.3rem;
        width: 100%;
        padding: 0.8rem;

        border: 0.13rem solid $primary;

        &::placeholder {
            color: $primaryDark;
        }
    }

    &__button {
       cursor: pointer;
       display: block;
       background: none;
       border: none;

       background-color: $primary;
    }

    &__icon {
        font-size: 1.8rem;
        color: $primaryLight;
        vertical-align: middle; 
    }
}