.form {
    display: flex;

    height: 3.7rem;
    width: 100%;

    @include atSmall() {
        width: 40%;
    }

    &__label {
        @include visuallyHidden();
    }

    &__input {
        font-size: 1.3rem;
        width: 100%;
        height: 3.7rem;
        padding: 0.8rem;

        border: 0.13rem solid $primaryDark;
        transition: border-color 0.2s ease-in;

        &::placeholder {
            color: $primaryDark;
        }

        &:hover,
        &:focus {
            border-color: $secondaryDark;
        }
    }

    &__button {
       cursor: pointer;
       display: block;
       background: none;
       border: none;

       background-color: $primaryDark;
       transition: background-color 0.2s ease-in;

       &:hover,
        &:focus {
            background-color: $secondaryDark;
        }
    }

    &__icon {
        font-size: 1.8rem;
        color: $primaryLight;
        vertical-align: middle; 
    }
}