.header {
    height: 7rem;

    @include atSmall() {
        display: flex;
        align-items: center;
        justify-content: space-around;

        height: 6rem;
    }

    width: 100%;

    background-color: $primaryLight;
    @include mdShadow(2);

    text-align: center;

    &__title {
        text-decoration: none;
        color: $secondaryDark;
        font-size: 1.4rem;
        transition: color 0.2s ease-in;

        &:hover,
        &:focus {
            color: $secondary;
        }

        @include atSmall() {
            font-size: 2rem;
        }

        h1 {
             margin: 0;    
        }
        
    }

    &__subtitle {
        margin: 0;
        font-size: 1.3rem;
    }
}