.main {
    display: flex;

    @include atSmall() {
        height: calc(100% - 8rem);
    }

    &__wrapper {
        display: block;

        margin: 2rem auto;
        width: 95%;

        @include atSmall() {
            display: flex;
            
            max-width: 150rem;
            width: 100%;
            margin: auto;
            
        }
    }

}