.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 3rem;

    font-size: 1.3rem;

    @include atSmall() {
        font-size: 1.6rem;
    }

    &:hover {
        .switch__indicator,
        .switch__name {
            color: $secondaryDark;
        }
    }

    &__checkbox {
        position: absolute;
        opacity: 0;

        &:focus + .switch__indicator,
        &:focus ~ .switch__name {
            color: $secondaryDark;
        }
    }

    &__indicator {
        position: absolute;
        display: block;
        top: 0.3rem;
        left: 0;
        width:  1rem;
        height: 1rem;
        line-height: 1rem;

        z-index: 0;

        color: $primaryDark;
        
        text-align: center;
        user-select: none;
    }

    &__name,
    &__indicator {
        transition: color 0.2s ease-in;
    }
    
   
}